*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    /* background-color: black; */
}
.Netflix2{
    height: 3.9vh;
    fill:rgb(229,9,20);
}
header{
    background-color: rgb(0,0,0);
    height: 10vh;
    padding-top: 1%;
    

}
nav{
    display: flex;
    justify-content: center;
    gap: 20em;
    color: rgb(255, 255, 255);
    align-content: center;

}

.netflix_help_center{
    display: flex;
    gap: 1em;
    align-items: center;


}
.netflix_help_center span h5{
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.join{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}
.join:hover{
    border: 1px solid rgb(255, 255, 255);
}
.sign a{
    color: rgb(255, 255, 255);
    /* background-color: rgb(229,9,20); */
    text-decoration: none;
}
.sign:hover{
    background-color: rgb(127,5,11);

}
.row .col-8 ul li{
    list-style-type: none;
    line-height: 50%;
}
.row .col-8 ul li a{
    text-decoration: none;
    color: rgb(0,0,0);
}
.fa-angle-right{
    margin-left: 100%;
    color: rgb(255, 0, 0);
}
.col-8{
    margin-left:16%;
    padding-bottom: 5%;
}
.col-8 .p-1{
    font-weight: 650;
    font-size: 110%;
}
footer{
    background-image: linear-gradient(10deg , black,  black, black, red);
    height: 45vh;
}
select{
    height: 7vh;
    width: 15vw;
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
}
select option{
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,0);
}
.selectul{
    padding-left: 17%;
    
}
.selectul li {
    list-style-type: none;
    margin-left: -3%;
}
.selectul li a{
    line-height: 250%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}