*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* border: 2px solid red; */
    /* background-color: rgb(0, 0, 0); */
}
body{
    background-color: rgb(0, 0, 0);
}
.First_section{
    background-image: url('../IMAGES/topnetflixbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 170px;
}
nav{
    height: 15vh;
    /* background-color: rgb(0, 0, 0);  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Netflix{
    height: 6vh;
    fill: rgb(255, 0, 0);
}
nav button{
    background-color: rgb(255, 0, 0);
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;
    border: none;

}
nav a button{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-weight: 600;
}
nav button:hover{
    background-color: rgb(220, 20, 60);
}
.center{
    text-align: center;
    margin: 100px auto;
    
}
.center_text{
    color: rgb(255, 255, 255);
    
}
.center_text h1{
    font-weight: 800;
    font-size: 340%;
}
.center_text p{
    font-weight: 400;
    font-size: 130%;
}
.form-control{
    width: 27vw;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form button{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 6px;
    background-color: rgb(255, 0, 0);
    border: none;
}
.form button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 140%;
}


/* media for first section */

.second_section{
    /* padding-top: 72; */
    /* padding-bottom: 72; */

    margin: 100px;
    display: flex;
    gap: 6em;
    justify-content: center;
    align-items: center;
    
    
}
.second_sec{
    border: 9px solid rgb(35,35,35);
    background-color: rgb(0, 0, 0);
    height: 70vh;
    border-right:none;
    border-left: none;
    border-bottom: none;
        
}
@media (max-width:959px) {
    .second_section{
        display: block;
        text-align: center;
        padding-bottom: 0;
        padding-top: 0;
    }
    .second_section .media{
        margin: 135px auto;
    }
    .second_section img{
        left: 20%;
        width: 45vw !important;
    }
    .second_section video{
        width: 34vw !important;
   }
}
@media (max-width:860px) {
    .second_section video{
        width: 39vw !important;
    }
}
@media (max-width:750px) {
    .second_section video{
        height: 30vh;
    }
}
.second_section img{
    width: 32vw;
    position: absolute;
    top: -20%;
    height: 50vh ;
}
.second_section video{
    width: 29vw;

}
.media{
    position: relative;
    /* border: 2px solid red; */
    padding-top: 3%;
}
.second_section .text{
    padding-top: 50px;
}
.second_section h2{
    
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 280%;
}
.second_section p{
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 130%;

}

.third_section{
    margin-top:100px ;
    border: 10px solid rgb(35,35,35);
    height: 90vh;
    /* border: 2px solid red; */
    background-color: rgb(0, 0, 0);
    border-left: none;
    border-right: none;
    border-bottom:none;


}
.third_content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between ; */
    gap: 1em;

    margin: 30px auto;
}
.third_content img{
    height: 65vh;
    width: 40vw;

}
.med{
    position: relative;
}
.third_content h2{
    font-weight: 550;
    font-size: 300%;
    color:  rgb(255,  255, 255)
}
.third_content p{
    font-weight: 0;
    font-size: 140%;
    color: rgb(255,  255, 255);
}
.med2{
    border: 2px solid rgb(35,35,35);
    display: flex;
    height: 15vh;
    width: 22vw;
    border-radius: 6px;
    align-items: center;
    position: absolute;
    top: 68%;
    left: 17%;
    gap: 1em;
    padding: 1%;
    /* line-height: 8%; */
    background-color: rgb(0, 0, 0);
    letter-spacing:2%;
}
.med2 img{
    height: 13vh;
    
}
.med2 h5{
    color: rgb(255,  255, 255);
    font-weight: 50;
    font-size: 20px;
}
.med2 p{
    color: rgb(0, 0, 255);
    font-size: 15px;
}
@media (max-width:959px) {
    .third_content{
        display: block;
        /* flex-wrap: wrap; */
        justify-content: center;
        
    }
}
@media (max-width:1024px) {
    .third_content img{
        height: 50vh;
        width: 55vw;
    }
    .third_content h2{
        font-size: 57px;
    }
    .third_content p{
        font-size: 33px;
    }
    .med2{
        top: 47%;
        left: 14%;
        height: 12vh;
        border-radius: 12px;
        width: 35vw;
    }
    .med2 img{
        height: 10vh;
    }
    .med2 h5{
        font-size: 25px;
    }
    .med2 p{
        font-size: 25px;
    }
}
@media (max-width:768px) {
    .third_content{
        text-align: center;
    }
    .third_content img{
        width: 75vw;
    }
    .med2{
        left: 24%;
        width: 50vw;
    }
    
}
@media (max-width:320px) {
    .third_content img{
        width: 92vw;
        height: 40vh;
    }
    .med2{
        display: none;
    }
}
@media (max-width:604px) {
    .third_section{
        height: 130vh;
    }
}
/*  */

/* media three */

.section_four{
    border: 4px solid rgb(35,35,35);
    background-color: rgb(0, 0, 0);
    border-left: none;
    border-right: none;
    
}
.section_content{
    
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 80px;
    padding-right: 80px;
}
.section_four h1{
    font-weight: 900;
    font-size: 320%;
    color: rgb(255, 255, 255);
}
.section_four p{
    font-weight: 400;
    font-size: 170%;
    color: rgb(255, 255, 255);
}
/* media four*/ 

.section_five{
    padding-top: 30px;
    border:10px solid rgb(35,35,35);
    border-left: none;
    border-right: none;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    
}
.sec_five{
    display: flex;
    align-items: center ;
    /* align-content: center; */
    
}
.sec_five img{
    height: 60vh;
    width: 35vw;
}
.sec_five h1{
    font-weight: 750;
    font-size: 270%;
    color: rgb(255,  255, 255);
}
.sec_five p{
    font-size: 125%;
    font-weight: 520;
    color: rgb(255,  255, 255);
}
@media (max-width:899px) {
    .sec_five{
        display: block;
        text-align: center;
    }
    .sec_five h1{
        font-size: 300%;
    }
    .sec_five p{
        font-size: 190%;
    }
}
@media (max-width:599px) {
    .sec_five img{
        width: 92vw;
    }
}
@media (max-width:537px) {
    .section_five{
        height: 139vh;
    }

}
.accordion_section{
    border: 4px solid rgb(35,35,35);
    border-left: none;
    border-right: none;
    background-color: black;
}

.accordion_section h1{
    text-align: center;
    padding: 40px;
    font-size: 300%;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.accordion-item{
    background-color: rgb(45,45,45);
    border: black;
    margin-top: 1.2%;
    

    
}
.accordion button{
    background-color: rgb(45,45,45);
    height: 12vh;
}
.accordion button h3{
    color: rgb(255,255,255);
}
.accordion-body{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}
.accordion button:not(.collapsed){
    background-color: rgb(45,45,45);

}
.accordion-button::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E"); 
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/%3E%3C/svg%3E");
}
.accordion_section p{
    text-align: center;
    font-size: 121%;
    color: rgb(173,179,179);
}
.accordion_section .accordform{
    margin-bottom: 5%;
    margin-left: -3%;
}

/*  */

footer{
    background-color: rgb(0, 0, 0);
}
.footerul{
    display: flex;
    align-items: center;
    padding-top: 4%;
    gap: 5em;
    margin-left: 9%;
    margin: auto;
    
}
.footerul li{
    list-style-type: none;
    line-height: 250%;
}
.footerul li a{
    font-weight: 450;
    color: rgb(173,179,179);
}
.form-select{
    width: 10vw;
    margin-left: 3%;
    margin-top: -1%
}
.containerselect{
    padding-bottom: 7%;
    line-height:400%;
}
.containerselect select{
    background-color: rgb(0,0,0);
    font-weight: 450;
    color: rgb(173,179,179);
}
.containerselect p{
    margin-left: 3%;
    color: rgb(173,179,179);
}
/* #videoContainer{
    background-image: url(/photos/crown\ edit.jpg);
    background-color: blue;
}
@media (max-width:1561px) {
    .center_text h1{
        font-size: 30px;
    }
}
@media (max-width:1561px) {
    .enjoy img{
        height: 48vh;
        position: relative;
        z-index: 1;
        top: 1%;
        border: 2px solid green;
        width: 100%;
    }
    .enjoy video{
        position: absolute2;
        right: -8%;
        height: 35vh;
        top: 115%;
        width: 80%;
    }
} */