*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(0, 0, 0);
    padding-bottom: 1%;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    align-items: center;
    padding-top: 1% ;
}
nav svg{
    height: 5vh;
    fill: rgb(255, 0, 0);
}
.netflix_help_center{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.vertical_bar{
  font-size: xx-large;
  margin-top: -4%;
  color: rgb(255, 255, 255);
}
.netflix_help_center h5 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.Join{
    border: 2px solid rgb(90,90,90);
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: rgb(0, 0, 0) ;
    border-radius: 5px;
}
.Join a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.Join:hover{
    border: 2px solid rgb(255, 255, 255);
}
.Sign{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    border: none;

}
.Sign:hover{
    background-color: rgb(220, 20, 60);
}
.Sign a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
section{
    background-color: rgb(255, 255, 255);
    width: 95%;
}
section .col{
    text-align: justify;
    margin-left: 2%;
}
.Back_Help{
    line-height: 250%;
}
.Back_Help h1{
    font-weight: 750;
    font-size: 270%;
}
.Back_Help p{
    font-weight: 497;
    font-size: 110%;
}
.Back_Help a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.Back_Help a:hover{
    text-decoration: underline;
}
.form-control{
    width: 38vw;
}
.trial{
    border: 1px solid rgb(213,212,209);
    width: 20vw;
    height: 13vh;
    padding: 15px;
    padding-top: 30px;
    font-size: 100%;
    background-color: rgb(249,249,249);
}
.col button{
    margin-top: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgb(255, 0, 0);
    border: none;
}
.col button  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.sectionbase{
    padding-top: 2%;
    padding-bottom: 3%;
    font-weight: 498;
    line-height: 270%;
}
.sectionbase h6{
    font-weight: 650;
    font-size: 110%;
    
}
.sectionbase p a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.sectionbase p a:hover{
    text-decoration: underline;
}
footer{
    background-image: linear-gradient( 20deg, rgb(0, 0, 0), rgb(0, 0, 0), rgb(255, 0, 0) );
    padding-bottom: 1%;

    
}
.foot_help{
    display: flex;
    gap: 1em;
    align-items: center;
}
.foot_help h4{
    color: rgb(255, 255, 255);
}
.foot_help button{
    padding-top: 0.7%;
    padding-bottom:0.7%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border: none;
}
.foot_help button a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 750;
}
.foot_help button:hover{
    background-color: rgba(90, 90, 90, 0.671);
}
footer select{
    height: 7vh;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 750;
    font-size: 110%;
    color: rgb(179,179,179);
    background-color: rgb(0, 0, 0);
}
.footerul ul li{
    list-style-type: none;
    line-height: 210%;
    margin-left: -2%;
    
}
.footerul ul li a{
    text-decoration: none;
    color: rgb(179,179,179);

    
}
.footerul ul li a:hover{
    text-decoration: underline;
}
