*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    /* border: 2px solid red; */
}
body{
    /* background-color: rgb(0, 0, 0); */
    background-image: url('../IMAGES/topnetflixbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.Netflix{
    max-width: 160px;
    fill:rgb(255, 0, 0);
    font-weight: bolder;
}
.sign{                                  
}
form{
    padding: 70px;
    background-color: rgb(9,5,4);
    color: rgb(255, 255, 255);
    opacity: 93%;
    width: 35vw;  
    height: 100vh;
    margin: 20px auto;  
    align-items: center;
}
.sign .form-control{
    width: 23vw;
    height: 7vh;
}
form h2{
    margin-bottom: 10%;
}
.mb-3 input:not(.form-check-input){
    background-color: rgb(51,51,51);
}
.formbtn{
    width: 23vw;
    height: 7vh;
    background-color: rgb(255, 0, 0);
    border: none;
}
.form-check-input{
    background-color: rgb(51,51,51);
    
}
#sign a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#sign a:hover{
    text-decoration: underline;
}
.form-check{
    display: flex;
    gap: 8em;
    margin-bottom: 20%;
}
.sign_infooter{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10vh;
}
.footerul{
    margin-top: 10%;
    height: 30vh;
    background-color: rgb(9,5,4);
    opacity: 93%;
    display: flex;
    justify-content: center;
    gap: 8em;
    align-items: center;
    /* justify-content: space-evenly; */

}
.footerul li{
    list-style-type: none;
    line-height: 200%;
    
}
.footerul li a{
    text-decoration: none;
    color:rgb(115,115,115);
    
}